.popup_opened {
  display: grid;
  grid-template-areas: '. . x' '. pop .' '. . .';
  grid-template-columns: minmax(19px, auto) minmax(282px, 430px) minmax(19px, auto);
  grid-template-rows: 1fr 330px 1fr;
  z-index: 5;
}

@media screen and (max-width: 540px) {
  .popup_opened {
    grid-template-areas: '. x .' '. pop .' '. . .';
  }
}