.popup__form {
  display: grid;
  font-size: 14px;
  grid-template-rows: 75px 57px 98px;
  align-items: end;
}

@media screen and (max-width: 440px) {
  .popup__form {
    grid-template-rows: 102px 57px 91px;
  }
}