.popup__form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-top: 24px;
  /* grid-template-rows: 74px 20px 37px 30px 68px; */
  /* width: 100%; */
  /* align-items: flex-end; */
}

@media screen and (max-width: 440px) {
  .popup__form {
    grid-template-rows: 102px 20px 37px 20px 71px;
  }
}