.post__photo {
  background-color: #000;
  color: #fff;
  border-radius: 8px 8px 0 0;
  display: block;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform .25s, filter .25s ease-in-out;
}

.post__photo:hover {
  transform: scale(1.25);
  filter: saturate(1.15);
}